[Unit]
Description=IPTV Stream Service
After=network.target

[Service]
ExecStart=/bin/bash /home/test/Documents/code/iptv/stream.sh
Restart=always
RestartSec=10s
User=test
Group=test
Environment=PATH=/usr/bin:/usr/local/bin
WorkingDirectory=/home/test/Documents/code/iptv
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
